html, body {
    margin: 0;
    background-color: rgb(16, 24, 32);
    color: white;
    height: 100%;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(80, 160, 250);
    text-decoration: underline;
}

body {
    display: flex;
    flex-flow: column;
}


/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* HEADER */

header {
    border-bottom: rgb(64, 72, 80) 1px solid;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 16px;
}

header h1 {
    line-height: 64px;
    margin: 0;
}

header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

header nav a {
    margin: 8px;
    padding: 8px;
    border-radius: 8px;
    line-height: 0;
}

header nav a:hover {
    background-color: rgb(64, 72, 80);
}

header nav img {
    height: 32px;
    width: 32px;
}


/* MAIN */

main {
    flex-grow: 1; /* Take up as much height as is available */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main #maps {
    width: 80%;
    max-width: 800px;
    border: rgb(64, 72, 80) 1px solid;
    border-radius: 8px;
    overflow: hidden;
}

main #maps table {
    width: 100%;
    border-collapse: collapse;
}

main #maps th, td {
    padding: 8px;
}

main #maps th {
    text-align: left;
    background-color: rgb(24, 32, 40);
}

main #maps td {
    border-top: rgb(64, 72, 80) 1px solid;
}

main #maps td:hover {
    background-color: rgb(24, 32, 40);
}