body, html {
    margin: 0;
    background-color: rgb(16, 24, 32);
    color: white;
    overflow: hidden;
    touch-action: none;
    -webkit-user-select: none; /* Safari */
    user-select: none;
}

a {
    color: white;
    text-decoration: none;
}

#canvas {
    position: absolute;
    height: 100%;
    width: 100%;
    cursor: crosshair;
}


/* SECTIONS */

.section {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.section.top {
    top: 0;
}

.section.bottom {
    bottom: 0;
}

.section.left {
    left: 0;
    align-items: start;
}

.section.right {
    right: 0;
    align-items: end;
}

.section.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* CAPSULES */

.capsule {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(16, 24, 32, 0.8);
    padding: 0 10px;
    border-radius: 12px;
    height: 28px;
}

.top .capsule {
    margin-bottom: 8px;
}

.bottom .capsule {
    margin-top: 8px;
}

.button {
    cursor: pointer;
    transition: background-color .1s;
}

.button:hover {
    background-color: rgb(64, 72, 80);
}

.waypoint {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: rgb(16, 24, 32, 0.8);
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 8px;
}

.waypoint .teleport {
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

.waypoint .delete {
    display: flex;
    align-items: center;
    padding: 0 11px 1px 10px;
    border-left: 1px solid rgb(64, 72, 80);
}


/* WINDOW */

.section.window {
    height: min(90%, 1000px);
    width: min(80%, 1200px);
    padding: 0;
    align-items: stretch;
    background-color: rgb(16, 24, 32);
    border: 1px solid rgb(64, 72, 80);
    border-radius: 12px;
    overflow: hidden;
    display: none;
}

.section.window label {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    background-color: rgb(24, 32, 40);
    border-bottom: 1px solid rgb(64, 72, 80);
}

.section.window label input {
    flex-grow: 1;
    margin: 12px 16px;
    color: white;
    line-height: 24px;
    background-color: rgb(24, 32, 40);
    border: 1px solid rgb(64, 72, 80);
    border-radius: 4px;
}

.section.window label a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    color: rgb(64, 72, 80);
    cursor: pointer;
    transition: color .1s;
    border-left: 1px solid rgb(64, 72, 80);
}

.section.window label a:hover {
    color: white;
}

.section.window div {
    height: 100%;
    overflow-y: scroll;
    scrollbar-color: rgb(64, 72, 80) transparent;
}

.section.window div table {
    width: 100%;
    border-collapse: collapse;
}

.section.window div tbody tr {
    border-top: 1px solid rgb(64, 72, 80);
}

.section.window div tbody tr:hover {
    background-color: rgb(24, 32, 40);
}

.section.window div th {
    text-align: left;
    padding: 8px;
}

.section.window div td {
    padding: 8px;
}